.expense-report-detail-container{
    width: 100%; 
    height: 100%;     
    display: grid;
    grid-template-rows: 7% 1fr 7%;
    overflow: hidden;  
    padding: 10px;   
    position: relative;
    font-family: RobotoLight;
    color: var(--light-text-color);  
    
}

.dark .expense-report-detail-container{
    color: var(--dark-text-color);
}

.expense-report-detail--title{
    grid-row: 1;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0;
   

    p{
        color: var(--light-text-color);
        font-family: RobotoLight;
        font-size: 1.4em;
        transition: all var(--animation-duration) var(--animation-type);
        margin: 0;
    }


    p:nth-child(2){
        margin-left: auto;
        margin-right: 5px;
       
    }

    p:last-child{
        font-size: 1.250em;
    } 
   
}

.dark .expense-report-detail--title p {
    color: var(--dark-text-color);
}

.data-container{
    position: relative;
    
}

.expense-report-detail{
    grid-row: 2;
    width: 100%;
    height: 100%;    
    position: absolute;   
    display: grid;
    grid-template-rows: 1fr 10%;
   
    
   
}

.expense-report-detail-data{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    align-content: flex-start;
    .text-field-container{
        
        margin-bottom: 5%;
       
    }
}


.dark .expense-report-detail-container .text-field-container{
    background-color: var(--dark-background-color);
}

.expense-report-detail-files {
    grid-column: 1/-1;
    width: 100%;
    height: 68px;
    overflow-y: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.expense-report-detail-actions{
    width: 100%;   
    display: flex;
    align-items: center;
    justify-content: flex-start;   
    margin-top: auto; 
}

.cta-button{
    display: flex;
    align-items: center;
    justify-content: center;   
    /* height: 50px; */
    border-radius: 16px;      
    color:var(--dark-text-color);
    background-color: var(--background-color);
    font-size: 1.5em;
    border: none;
    outline: none;    
    padding: 5px 15px;
    margin-top: 5%;
}

.cta-button:active{
    background-color: var(--button-active-color-light);
}

.invoice-detail{
    font-family: RobotoLight;
    color: var(--background-color);   
    cursor: pointer;
}



.expense-report-invoice{
    grid-row: 2;
    width: 100%; 
    height: 100%; 
    position: absolute;   
    display: grid;     
    grid-template-rows: 1fr 10%;
   

    .invoice-data{
        grid-row: 1;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        align-content: flex-start; 
        gap: 2%;

        .custom-input-container:nth-child(3),
        .custom-input-container:nth-child(4){
            margin-top: 5%;
        }
    }

    .expense-report-detail-actions{      
       
        grid-row: 2;
        margin-top: 0;
        .cta-button{
            margin-right: 10px;
        }
    }
}

.last-updated{
    
    grid-row: 3;
    margin: 0;
    margin-left: auto;
    margin-top: auto;   
    margin-right: 5px;
    padding: 0;
    font-family: RobotoLight;
    color: var(--ligth-subtitle-color);
    font-size: 0.850em;
   
}


@media screen and (max-width:1300px){

  

    .expense-report-detail-actions{
        justify-content: flex-end;  
    }

    .cta-button{
        padding: 5px 10px;
    }

    .expense-report-detail--title{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
       
        
        p,
        p:last-child
        {
            font-size: 1em;
        }
    }  

    .last-updated{
        padding-top: 10px;
    }
   
    
}