.modal{
    background-color: rgba(0, 0, 0, 0.350);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    font-size: 1em;
    transition: all var(--animation-duration) var(--animation-type);
}

.modal-layout{

    width: 50%;
   /*  height: 68%;     */
    border-radius: 16px;
    background-color: var(--light-background-color);
   
   /*  display: grid;
    grid-template-rows: 20% 1fr 10% 20%; */
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;    
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    transition: all var(--animation-duration) var(--animation-type);
   
    
}

.modal-title{
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: flex-start;    
    /* margin-top: 30px; */
    border-bottom: 1px solid #ccc;
    height: 60px;

    p{
        margin: 0;
        padding: 0;
        font-size: 1.5em;
        color: var(--light-text-color);
        transition: all var(--animation-duration) var(--animation-type);
    }
}
.modal-form{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;   
    margin-top: 2%;
    margin-bottom: auto;
}

.modal-form--select:nth-child(1){
    z-index: 12;
}
.modal-form--select:nth-child(2){
    z-index: 12;
}
.modal-form--select:nth-child(3){
    z-index: 11;
}

.modal-form--files{
    border: none;
    outline: none;
    background-color: var(--background-grey);
    color: var(--light-text-color);
    height: 55px;
    font-family: RobotoLight;
   

    .fa-arrow-up-from-bracket{
        font-size: 1.5em;
        margin-right: 15px;
        color: var(--background-color);
    }
}

.upload-files{
    margin-bottom: auto;
}

.pay-date-containter{
    position: relative;
}

.pay-date-picker{
    position: absolute;
    top: 0;
    left: 0;
    
}

.files{
    border: 1px solid #ccc;
    border-radius: 10px;   
    padding: 10px;      
    width: 100%;
    min-height: 170px;   
    margin-bottom: 20px; 
    overflow-x: hidden;
    overflow-y: auto;   
    font-family: RobotoLight;  
}

.dark .files{
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);

}
.modal-actions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
   
}

.modal-actions--cancel,
.modal-actions--accept{
    background-color: var(--background-color);
    border: none;
    padding: 15px 20px;
    border-radius: 16px;
    color: var(--dark-text-color);
    margin-left: 15px;
}

.modal-actions--cancel{
    background-color: var(--background-grey);
    color: var(--light-text-color);
}

.modal-actions--cancel:active,
.modal-actions--accept:active{
    background-color: var(--button-active-color-light);
}

.modal-actions--accept:active{
    color: var(--light-text-color);
}

.dark .modal{
    background-color: rgba(243, 237, 237, 0.3);
}

.dark .modal .modal-layout{
    background-color: black;
}
.dark .modal .modal-layout .modal-title p{
    color: var(--dark-text-color);
}


/* @media screen and(max-height:900px){
    .modal-layout{
        height: 80%;
        margin-top: 20px;
    }
} */