.datepicker-mobile-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--background-grey);
    z-index: 1000;
    transition: all var(--animation-duration) var(--animation-type);
   
}

.datepicker-mobile-bar{
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    justify-content: flex-start;
    padding: 0 10px;
    font-size: 1.4em;
    transition: all var(--animation-duration) var(--animation-type);
    font-family: RobotoLight;
    color: var(--light-subtitle-color);


    p{
        margin: 0;
        padding: 0;
        margin-left: 25px;
    }
    
}

.datepicker-mobile{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
}

.datepicker-mobile-actions{

    margin-top: 30px;

    button{
        background-color: var(--background-color);
        border: none;
        outline: none;
        padding: 4px 20px;
        border-radius: 10px;       
        font-size: 1.5em;
        color: var(--dark-text-color);


    }

    .disabled{
        pointer-events: none;
        color: var(--light-secondary-text-color);
        background-color: rgba(0, 0, 0, 0.075);
    }
}


.dark .datepicker-mobile-container{
    background-color: black;
}

.dark .datepicker-mobile-bar{
    color: var(--dark-text-color);
}

.dark .datepicker-mobile-actions .disabled {

    color: var(--dark-text-color);
    background-color: rgba(186, 178, 178, 0.3);
}






